.container {
    width: 300px;
    height: 600px;
}

.carousel {
    display: grid;
    position: relative;
    grid-template-columns: 300px 300px 300px;
}

img {
    width: 100%;
    height: auto;
}

body {
    display: flex;
}
.prev, .next {
    width: 5rem;
    height: auto;
    border-radius: 0%;
    position: static;
}

button {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    border: 1px solid black;
    position: relative;
    left: 40%;
}